.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  left: 10px;
}

.card_form {
  height: 170px;
  width: 357px;
  border: solid black 1px;
  background-color: bisque;
  margin: 8px;
}

.button_form {
  margin-left: 135px;
}

.icon_form {
  margin-left: 310px;
  margin-top: -10px;
}

.tag_form {
  width: 28px;
  border: solid black 1px;
  padding: 3px;
  background-color: rgb(209, 176, 240);
  margin-top: 25px;
  margin-left: 5px;
}

.frage_form {
  text-align: center;
  margin: 5px;
}

.antwort_form {
  text-align: center;
  margin: 5px;
}

.zuweisung {
  margin-top: 150px;
  height: 170px;
}
