.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 60px;
}

.frage {
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
}

.antwort {
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
}

.text {
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
}

.label_frage {
  font-size: 20px;
}

.label_antwort {
  font-size: 20px;
}

.label_text {
  font-size: 20px;
}

.card {
  position: relative;
  top: 500px;
  left: 40px;
  height: 100px;
  width: 250px;
  background-color: beige;
  border: solid black 2px;
  margin: 10px;
}
